section.personal
    .container
        .row.personal-descr
            .col-lg-8.offset-lg-2
                h2.presonal-title.text-blue-dark.mb-4 Personal Information
                p.presonal-descr  Best Online Traffic School is licensed by the DMV and accepted by #[strong EVERY] county and court in the state of California. We will electronically submit your results to the court and DMV upon course completion on the same day.
                p.presonal-descr  Your ticket citation information can be entered under My Profile or at Check Out after you complete the course.
        .row
            .col-lg-8.offset-lg-2
                include ../personal-info-form/personal-info-form

