.payment{
    &-row {
        padding: 24px 0 80px;
        border-bottom: 1px solid $border-color;
    }
    label {
        font-family: $label-font-family;
        color: $label-text-color;
        font-size: $label-font-size;
        line-height: $label-line-height;
        font-weight: $label-font-weight;
    }
    &-DOB {
        position: relative;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label {
            display: block;
            width: 100%;
            margin-bottom: 11px;
        }
        .dateBirth {
            position: absolute !important;
            top: 33px;
            z-index: -1;
            opacity: 0;
            &.invalid-feedback {
                display: block;
            }
            
        }
        .dob-field {
            display: flex;
            flex: 0 0 31.33333%;
            max-width: 33.33333%;
            & + .dob-field {
                margin-left: .5rem;
                @include media-breakpoint-down(md){
                    margin-left: 0;
                }
            }
            &.invalid-feedback {
                position: relative;
            }
        }
        @include media-breakpoint-down(md){
            
            .dob-field{
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: .5rem;
                &.field-error label.invalid-feedback {
                    bottom: -12px;
                }
            }
            .dob-field + .dob-field {
                flex: 0 0 49.4%;
                max-width: 49.4%;
                margin-bottom: 0;
            }
        }
    }
    &-modal {
        width: 100%;
        background: $modal-bg;
        margin: 2rem auto ;
        padding: 2rem 2rem 80px;
    }
    p em,
    p i,
    em,i{
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
        font-size: 0.9375rem;
        .fa {
            font-family: FontAwesome;
        }
    }
}
