.header {
    box-shadow: $box-shadow-sm;
    min-height: 100px;
    display: flex;
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-collapsde {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
        }
    }
    .nav-link {
        font-size: $font-size-base;
        line-height: $nav-link-height;
        color: $nav-link-color;
        font-family: $nav-link-font-family;
        font-weight: $nav-link-font-weight;
        text-transform: uppercase;
        padding: $nav-link-padding-y $nav-link-padding-x !important;
    }
    .multi-steps {
        max-width: 430px;
    }
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            display: inline-flex !important;
            flex-basis: auto;
            flex-grow: inherit;
        }
    }
}

