form#verify.verify-dob
    .form-group
        label() What is your Month of Birth?
        select.form-control.dob-field(id="date-month", name="dobMonth" required)
            option(value="" selected="selected", disabled="disabled") Month
    .form-group
        label() What is your Date of Birth?
        select.form-control.dob-field(id="date-day", name="dobDay" required)
            option(value="" selected="selected", disabled="disabled") Day
    .form-group
        label() What is your Year of Birth?
        select.form-control.dob-field(id="date-year", name="dobYear" required)
            option(value="" selected="selected", disabled="disabled") Year
    .form-group
        input(type="text" name="dateBirth" id="dateBirth" class="dateBirth" placeholder="DD/MM/YYYY" data-mask="00/00/0000")
        button.btn.btn-danger.w-100(type='submit') Verify Identity


