.badge.h-100
    .badge-icon
        img(src="img/general/logo-blue.png")
    h5.badge-descr
        | We are a California DMV Licensed Online Traffic School. Our course is accepted by ALL California courts.
    .badge-rating(title='70')
        h3.badge-rating-scr 4.9
        .back-stars
            i.fa.fa-star-o
            i.fa.fa-star-o
            i.fa.fa-star-o
            i.fa.fa-star-o
            i.fa.fa-star-o
            .front-stars(style='width: 95%')
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
    .badge-reviews Based on 500+ total reviews



