.brand {
    font-family: 'DINOT', sans-serif;
    font-size: $navbar-brand-font-size;
    line-height: $navbar-brand-height;
    color: $primary;
    max-width: 174px;
    white-space: initial;
    padding: 0;
}
