extends ../layouts/default
include ../helpers/mixins
block variables
    - const title = "Course Completion";

block content
    .wrapper
        include ../../blocks/modules/completion-header/completion-header
        main.content.content-completion(role="main")
            include ../../blocks/modules/completion/completion


        include ../../blocks/modules/footer/footer
block scripts
    script(src="scripts/vendor/jquery.min.js")
    script(src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js")
    script(src="scripts/vendor/bootstrap.min.js")
    script(src="scripts/vendor/jquery.validate.js")
    script(src="scripts/vendor/additional-methods.js")
