extends ../layouts/default
include ../helpers/mixins
block variables
    - const title = "Personal Information";

block content
    .wrapper
        include ../../blocks/modules/personal-header/personal-header
        main.content.content-personal(role="main")
            include ../../blocks/modules/personal-info/personal-info

        include ../../blocks/modules/footer/footer
block scripts
    //script(src="js/signin.js")
    //script(src="js/vendor.js")
    script(src="scripts/vendor/jquery.min.js")
    //script(src="scripts/vendor/popper.min.js")
    script(src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js")
    script(src="scripts/vendor/bootstrap.min.js")
    script(src="scripts/vendor/jquery.validate.js")
    script(src="scripts/vendor/additional-methods.js")
    script(src="scripts/main/personal-info-form.js")
