extends ../layouts/default
include ../helpers/mixins
block variables
    - const title = "Sign In";

block content
    .wrapper
        include ../../blocks/modules/signin-header/signin-header
        main.content.content-sign(role="main")
            .container
                .row
                    .col-xl-6.offset-xl-1
                        include ../../blocks/modules/signin-form/signin-form
                    .col-xl-4
                        include ../../blocks/modules/badge/badge


        include ../../blocks/modules/footer/footer
block scripts
    //script(src="js/signin.js")
    script(src="js/vendor.js")
