extends layouts/default
include helpers/mixins

block variables
    - const title = "Recheck page"

block content
    .wrapper
        include ../blocks/modules/header/header
        main.content(role="main")
            form#address.payment
                .container
                    include ../blocks/modules/my-info/my-info
                    include ../blocks/modules/payment/payment

        include ../blocks/modules/footer/footer

block scripts

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGMYS-RP5r37u2t6ToQDKxyjerY-jDZj8&libraries=places")
    //script(src="js/main.js")
    //script(src="js/vendor.js")
    script(src="scripts/vendor/jquery.min.js")
    //script(src="/scripts/vendor/popper.min.js")
    script(src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js")
    script(src="scripts/vendor/bootstrap.min.js")
    script(src="scripts/vendor/jquery.validate.js")
    script(src="scripts/vendor/additional-methods.js")
    script(src="scripts/main/recheck.js")
    script(src="scripts/main/adress-modal.js")
