section.section.completion
    .container
        .row
            .col-md-2
                img.d-block.img-fluid.mx-auto.mb-4.mb-md-0(src="img/general/party.png", alt="party")
            .col-md-8
                h2.mb-5 You Have Passed Traffic School!
                p.mb-4 Thank you for your payment of ${{Payment_Amount}}! You will receive a copy of your certificate and a payment receipt by email.

                p.mb-4 We will be electronically submitting your traffic school completion certificate to the California DMV and {{selected_courthouse}} on {{date of payment}}.

                p.mb-4 You will receive credit for completing the course on this date. As long as it’s before 11:59 PM on your due date, you’ll be fine. You don’t need to mail in your certificate or visit the courthouse. The court will only accept our electronic submission.

                p.mb-4 Traffic school results can take up to eight weeks for individual courts to process. Best Online Traffic School has no control over how long the court takes to process your certificate.
        hr.my-48
        .row.mb-80
            .col-md-8.offset-md-2
                h3.text-danger.mb-48
                    span.warning-icon
                    strong Next Steps! Please Read Carefully:
                ol.text-list
                    li
                        p You are solely responsible for contacting the {{selected_courthouse}} to ensure that the court has received and processed your traffic school certificate. We will not be providing any case status updates.
                    li
                        p We recommend checking every few days for an update. Depending on the county and courthouse, you may be able to check the status over the phone or in-person.

                p.mb-0 If you wish to enroll in our Ultimate Peace of Mind Case Status Service (additional $19.99) and let us follow-up with the court for you, feel free to contact us via email or live chat.
        .row
            .col-lg-4.offset-lg-4.col-md-6.offset-md-3
                a.btn.btn-danger.w-100(href="#") Download Certificate
