.form-sign {
    width: 100%;
    box-shadow: $box-shadow;
    padding: 3rem;
    border-radius: $border-radius;
    background: $white;
    &-title {
        color: $blue-dark;
        margin-bottom: 3px;
        font-weight: bold;
    }
    .btn {
        height: 40px;
        padding: 0 0.75rem;
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 150%;
    }
    .forgot-link {
        text-decoration: underline;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        color: $body-color;
    }
    .form-bottom-link {
        color: $blue-dark;
        font-family: "Lora";
        font-style: italic;
        text-decoration: underline;
    }
    .form-group{
        position: relative;
        input.invalid-feedback {
            position: relative;
        }
        label.invalid-feedback {
            position: absolute;
            text-align: right;
            right: 0;
            bottom: -25px;
            &:before{
                // display: inline-block;
                display: none;
                content: "×";
                position: absolute;
                right: 1rem;
                color: #FE8B7B;
                z-index: 100;
            }
        }
    }
    .toggle-password{
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        right: 4px;
        bottom: 0;
        padding: 10px 0px;
        width: 40px;
        font-size: 25px;
        color: #D0D0D0;
        &:focus,
        &:hover {
            cursor: pointer;
        }
    }
    @include media-breakpoint-down(sm){
        padding: 1rem;
    }
}
