form#sign-in.form.form-sign
    .form-group.mb-5
        h2.form-sign-title Create Your Account
    .form-group.mb-5
        input.form-control.mb-3(type="mail",name="sign_mail",required="required", placeholder="Email")
        input.form-control.mb-3(type="password",name="sign_pass",required="required", placeholder="Create Password")
        a(href="#").font-italic.text-underline.text-dark Forgot password?
    .form-group
        button.btn.btn-danger.w-100(type="submit") Sign Up
    .form-group
        h5
