.row.my-info.border-bottom
    .col-md-2.offset-md-1
        h2.mb-0 My Info
    .col-md-8
        p.mb-0
            | Please carefully review your information and check for any errors. Make sure to fill in any missing
            | info, which can be found on your ticket. Feel free to #[a(href="#") contact us] or the court for help.
