.row.my-info.border-bottom
    .col-xl-2.offset-xl-1.col-lg-2.offset-lg-0
        h2.mb-3.mb-lg-0 My Info
    .col-xl-8.col-lg-10
        p.mb-md-0
            | Please carefully review your information and check for any errors. Make sure to fill in any missing
            | info, which can be found on your ticket. Feel free to #[a(href="#") contact us] or the court for help.
