.row.my-info.border-bottom
    .col-xl-2.offset-xl-1.col-lg-2.offset-lg-0
        h2.mb-3.mb-lg-0 My Profile
    .col-xl-8.col-lg-10
        p.mb-4 Please carefully review your information and check for any errors. Make sure to fill in any missing information, which can be found on your ticket. If you’re unsure what information to use, feel free to contact us or the court for help.
        p.mb-md-0 You will get a chance to review and edit your information at Check Out.
