footer.footer.mt-auto
    .container
        p.text-center
            em
                script.
                    new Date().getFullYear() > document.write("&copy; " + new Date().getFullYear());
                |  Best Online Traffic School. All Rights Reserved.

