label(for='str_address1') Address: *
input#str_address1.form-control(
    type='text',
    name="str_address1",
    placeholder='Start typing full address')
//#address-collapse.payment-modal(tabindex='-1', role='dialog', aria-labelledby='address-collapseLabel', aria-hidden='true')
//    #address-form.address-form
//        button.close(type='button', data-toggle="collapse", data-target="#address-collapse")
//            span(aria-hidden='true') ×
//        .row.mb-4
//            .col-6.pr-md-0
//                label(for='street_number') Street Number: *
//                input#street_number.form-control(
//                    type='text',
//                    placeholder='888',
//                    name="str_number",
//                    required="required"
//                    )
//            .col-6
//                label(for='route') Street Name: *
//                input#route.form-control(
//                    type='text',
//                    placeholder='Brenann Street',
//                    name="str_name",
//                    required="required"
//                )
//        .row.mb-4
//            .col-6.pr-md-0
//                label(for='unit_number') Unit Number: *
//                input#unit_number.form-control(
//                    type='text',
//                    name="unit_number",
//                    placeholder='',
//                    required="required"
//                    )
//            .col-6
//                label(for='locality') City: *
//                input#locality.form-control(
//                    type='text',
//                    name="city",
//                    placeholder='San Fransisco',
//                    required="required"
//                    )
//
//        .row.mb-4
//            .col-6.pr-md-0
//                label(for='administrative_area_level_1') State: *
//                select.form-control.select2-selection.js-states(
//                    id="administrative_area_level_1",
//                    name="state",
//                    data-width="100%",
//                    data-minimum-results-for-search="Infinity"
//                )
//                    //+listOfStates
//
//            .col-6
//                label(for='country') Country: *
//                select.form-control.select2-selection(
//                    id="country",
//                    name="str_county",
//                    data-width="100%",
//                    data-minimum-results-for-search="Infinity"
//                )
//                    option(selected disabled value="") United States
//                    option(value="USA") United States
//                .valid-feedback
//                    | Looks good!
//                .invalid-feedback
//                    | Doesn't look good!
//
//        .row.mb-4
//            .col-6.pr-md-0
//                label(for='postal_code') Postal code: *
//                input#postal_code.form-control(
//                    type='text',
//                    name="zip",
//                    placeholder='94103',
//                    required="required"
//                )
//                .valid-feedback
//                    | Looks good!
//                .invalid-feedback
//                    | Doesn't look good!
//
//        .row
//            .col-6.pr-md-0
//                button.w-100.btn.btn-outline-secondary(type="reset") Clear Address
//            .col-6
//                button.w-100.btn.btn-danger(type="button") Save Changes



