.btn {
    font-family: $btn-font-family;
    border-width: 3px;
    box-shadow: none;
    &-danger,
    &-warning,
    &-primary,
    &-success {
        color: $white;
        box-shadow: none;
    }
    &:disabled,
    &.disabled {
        background: $gray-100;
        border-color: $gray-100;
        color: $white;
    }
}
.edit {
    background: transparent;
    border: 0;
    position: absolute;
    right: 5px;
    bottom: 6px;
    .fa {
        font-size: 1rem;
        font-family: FontAwesome !important;
        font-style: normal;
    }
}
