.form-control {
    &.invalid-feedback {
        display: block;
        font-size: 1.125rem;
        margin-top: 0;
        border-color: $red-error;
        position: relative;
        &:after {
            display: inline-block;
            content: "×";
            position: absolute;
            right: 1rem;
            color: $red-error;
            
        }
    }
    &.custom-select {
    
    }
    &:disabled {
        background: #FCFCFC;
    }
}
form label {
    width: 100%;
    text-align: left;
    .form-group {
        //position: relative;
    }
    &.invalid-feedback{
        //position: absolute;
        font-size: 0.9375rem;
        line-height: 1.125rem;
        color: $red-error;
        text-align: right;
    }
}
.field-error {
    position: relative;
    
    label.invalid-feedback{
        width: 100%;
        position: absolute;
        right: 20px;
        bottom: -20px;
        margin: 0;
    }
    input.invalid-feedback{
        position: inherit;
        &:after{
            display: none;
        }
    }
    //&:after {
    //    display: block;
    //    content: "×";
    //    position: absolute;
    //    right: 20px;
    //    bottom: 1rem;
    //    text-align: center;
    //    color: $danger;
    //    background: rgba($danger, .4);
    //    width: 24px;
    //    height: 24px;
    //    border-radius: 50%;
    //}
}
.custom-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-label {
        padding-left: 1rem;
        &:before {
            top: -0.25rem;
        }
        &:before ,
        &:after {
            top: -0.25rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .custom-control-input:checked ~ .custom-control-label::after,
    input[type="checkbox"]:checked + label:after{
        background-color: $danger;
    }
    &.field-error {
        .custom-control-label {
            &:before {
                border-color: $red-error;
            }
        }
        label.invalid-feedback{
            text-align: left;
            padding-left: 1.5rem;
        }
    }
}
.form-control-plaintext{
    &:focus {
        outline: 0;
        border-color: transparent ;
    }
}
